@charset ="utf-8";

/*共通部分*/
html{
    font-size; 100%;
}

body{
    font-family:  "Hiragino Kaku Gothic ProN","Hiragino Kaku Gothic Pro", "游ゴシック","YuGothic","ＭＳ ゴシック",sans-serif;
    color: #432;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
h3{
    font-family: serif;
    text-align: center;
    color: #432;
    margin: 1rem;
}
h4{
    font-size: 1.5rem;
    border-left: 10px solid #CFE1F8;
}

.content{
    margin-top: 100px;
}
.heading-primary{
   font-family: serif;
    font-size: 36px;
    color: #432;
}
.section-heading{
margin-bottom: 10px;
text-align: center;
}

/*ヘッダー*/
#header{
    background-color: #fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    padding: 5px;
}
#header h1{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.logo{
    width: 50px;
    margin: 0.5rem;
    display: block;
}
.top{
    padding: 0 20%;
}
.main-nav{
    font-family: serif;
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 0.5rem;
}
a.main-nav-list{
    text-decoration: none;
    color: #432;
    margin:0 36px;
    letter-spacing: 0.1em;
}
.main-nav a:hover{
    color: #f39ac7;
}
.name{
    text-transform: uppercase;
    justify-content: center;
}
.my-name{
    display: flex;
    justify-content: flex-end;
    margin: 0 20%;
}

/*worksここから-------------*/
.works-list{
  display: grid;
  gap: 26px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

/*worksバナー-------------*/
.works-listbanner{
   display: grid;
    gap: 26px;
    grid-template-columns: 2fr 1fr;

    grid-template-rows: 1fr ;
    padding:10% 20% 10% 20%;
}
.works-item1-2{
    padding-right: 20%;
}
.works-item1{
   grid-row:1/2;
   grid-column: 1/2;
   margin-bottom: 10%;
}
.works-item2{
   grid-row:2/3;
   grid-column: 1/2;
}
.works-item3{
   grid-row:1/3;
   grid-column: 2/3;
}
.detal-button{
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.button{
    text-decoration: none;
    color: #432;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3rem;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5em;
    border: 1px solid #000;
}
.detal-button a:hover{
    color: #f39ac7;
    border: 1px solid #f39ac7;
}

/*フッダー--------------------*/
footer{
   background-color: #cdddf2;
}
.inner{
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px;
}
.copyright{
    font-size: 10px;
    text-align: center;
    color: #000;
}
.page-top{
    font-size:12px;
    padding: 10px;
    display: block;
    cursor: pointer;
    text-align: center;
    background-color: #ffe8f4;
    text-decoration: none;
    color: #432;
    font-weight: bold;
}

/*about---------------------*/
.about-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    max-width: 1080px;
    margin: 5% 20%;
}
.about-image-wrapper{
    width: auto;
    margin:10%;
    margin-left: 50px;
}
.about-image{
    align-items: center;
}
.about-sentence{
    padding: 5px;
    display: block;
    height: auto;
    border:solid 1px;
    border-color: #432;
    max-width: 550px;
    justify-content: center;
    align-items: center;
}
.about-sentence p{
    text-align: justify;
}

/*スキルここから*/
.skills-content{
    padding: 0 20%;
}
.skills-content ol{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 5% 20%;
    font-size: 90%;
    list-style: none;
}
.skills-content ol li{
    padding-left: 35px;
    line-height: 2.5rem;
    background:  left top no-repeat;
    background-size: 40px auto;
    align-items: center;
}
.skill-rate{
    width: 6rem;
    margin: 10px;
}
.skills-content ol li:nth-child(1){
    background-image: url(../img/skill/icon/illustrator.png);
}
.skills-content ol li:nth-child(2){
    background-image: url(../img/skill/icon/photoshop.png);
}
.skills-content ol li:nth-child(3){
    background-image: url(../img/skill/icon/adobexd.png);
}
.skills-content ol li:nth-child(4){
    background-image: url(../img/skill/icon/html.jpg);
}
.skills-content ol li:nth-child(5){
    background-image: url(../img/skill/icon/excel.png);
}
.skills-content ol li:nth-child(6){
    background-image: url(../img/skill/icon/powerpoint.png);
}
.skills-content ol li:nth-child(7){
    background-image: url(../img/skill/icon/word.png);
}

/* バナー用ページcssここから */
.works-page ,.about-page{
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px;
}
.works-page-content{
    padding:5%;
    display: block;
}
.works-image {
    float: left;
}
.works-image img {
    border: solid 1px #432;
}
.works-sentence {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.sentence p{
    padding-left: 30px;
    display: block;
    padding-right: 10%;
    width: 540px;
    float: right;
}
.sentence p span{
    font-weight: bold;
}

/* aboutここから */
.about-image{
    float: center;
    width: 200px;
}
.pr{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
}
.pr1{
    background-color: #D4E4F8;
    border-radius: 10px;
}
.pr2{
    background-color: #F5DFE5;
    border-radius: 10px;
}
.pr3{
    background-color: #FDF7E7;
    border-radius: 15px;
}
.pr p{
    padding: 15px 20px;
    text-align: justify;
}
.pr span ,.about-sentence span {
    font-weight: bold;
}


/* モバイル版 */
@media (max-width: 600px){
    body{
        font-size: 3.5vw;
    }
    .page-title{
         font-size :2.5rem;
    }

.works-listbanner{
    grid-column: auto;
    grid-row: auto;
}

.about-item{
     display: block;
     padding: 0px;
     margin: 10px;
}
.about-image-wrapper{
    width: 100px;
    max-width: 100%;
    margin: 0 auto 20px;
}

li {
    float: none;
    display: block;

}

.skills-content ol li{
    padding-left: 35px;
}

.works-item1-2{
    padding: 0px;
}

.works-item3{
    padding: 10%;
}


.works-listbanner{
    display: block;
    padding: 1rem;
}

.about-sentence {
    margin-bottom: 30px;
}
.heading-primary{
    margin-top: 50px;
}

#header h1{
position: static;
}
#header{
    display: flex;
    padding: 10px;

}
.top{
    padding: 50px 50px;
}
.logo{
    margin: 0.3rem;
    min-width: 20px;

}

/* ここからWORKSWEB用 */
.works-sentence{
    display: block;
}

.works-image{
    margin-bottom: 5%;
}

.sentence p{
    float: none;
    width: auto;
}
.works-page-content p{
    margin-top: 5%;
}

/* ここからABOUT用 */
.pr{
    display: block;
    padding: 5px 5px;
    width: 80%;
    margin: 0 auto;
}
.about-sentence{
    width: 80%;
    margin: 0 auto;
}

.pr1,.pr2,.pr3 {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}






}
